server {
	listen PORT;

	root /var/www/html;

	server_name hoge;

	index index.html index.htm index.nginx-debian.html index.php;

	location /dir_on/ {
		autoindex on;
	}

	location /dir_empty/ {
		autoindex on;
	}

	location /dir_forbidden/ {
		autoindex on;
	}

}
